{% extends 'base.html' %}
{% block content %}
    <article class="form-wrap">
    <form action="" method="POST" enctype="multipart/form-data">
        {% for field in form %}
            {% csrf_token %}
            <div>
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                <p>{{ field.errors }}</p>
            </div>
        {% endfor %}
    <div class="button-wrap">
        <button type="submit">회원가입</button>
    </div>
    </form>
    </article>


{% endblock %}