{% extends 'base.html' %}
{% block content %}
    <form action="" method="POST">
    {% csrf_token %}
        <div>
            <label for="username">ID</label>
            <input type="text" id="username" name="username">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
        </div>
        <button type="submit">Sign in</button>
    </form>
    <a href="https://www.facebook.com/v3.0/dialog/oauth?client_id=2495657473793268&redirect_uri=http://localhost:8000/members/facebook-login/">facebook Login</a>
{% endblock %}