{% extends 'base.html' %}
{% block content %}
    {% for post in posts %}
    <article>

        <div>
            <div>
                {% if post.author.profile_image %}
                    <img src="{{ post.author.profile_image.url }}" alt="">
                {% endif %}
            </div>
            <h3>{{ post.author }}</h3>
        </div>

        <div>
            {% if post.photo %}
                <img src="{{ post.photo.url }}" alt="">
            {% endif %}
        </div>

        <div>
            <time>{{ post.created_at }}</time>
            <p>{{ post.content }}</p>
        </div>

    </article>
    {% endfor %}
{% endblock %}