{% extends 'base.html' %}
{% block content %}
    {% for post in posts %}
    <article>

        <div>
            <div>
                {% if post.author.profile_image %}
                    <img src="{{ post.author.profile_image.url }}" alt="">
                {% endif %}
            </div>
            <h3>{{ post.author }}</h3>
        </div>

        <div>
            {% if post.photo %}
                <img src="{{ post.photo.url }}" alt="">
            {% endif %}
        </div>

        <div>
            <time>{{ post.created_at }}</time>
            <p>{{ post.content }}</p>
            <form action="{% url 'posts:post-delete' post.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </div>

        <div>
            <div>
                {% for comment in post.comments.all %}
                <p>{{ comment }}</p>
                {% endfor %}
            </div>
            <form action="{% url 'posts:comment' post_pk=post.pk %}" method="POST">
                {% csrf_token %}
                <input type="text" name="content">
            </form>
        </div>

    </article>
    {% endfor %}
{% endblock %}